#tbrowser-header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#tbrowser-header h1{
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

#tbrowser-header #search-bar-container{
  display: flex;
  height: 40px;
  margin-top: 10px;
}

#tbrowser-header #search-bar-container input{
  width: 50vw;
  margin-right: 20px;
  border: 1px solid gray;
  padding: 0 20px;
  border-radius: 5px;
}

#btn{
  width: 60px;
  border: 0;
  cursor: pointer;
  color: #282a36	;
  border-radius: 5px;
  background-color: #bd93f9;
}

#btn:focus{
  outline: none !important;
}